body {
  background-color: #4e5f60;
}

nav {
  margin: 15px 0px 15px 30px;
}

H1 {
  color: white;
  margin: 0 0 15px 10px;
  float: left;
  hover: none;
}

li {
  list-style: none;
  float: right;
  display: inline;
  color: white;
  padding: 0 10px 0 10px;
}

img {
  height: fill-screen;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
#index {
  color: white;
  text-decoration: none;
}
