body {
  /*background-color: #4e5f60;*/
  background-color: black;
}

nav {
  margin: 15px 0px 15px 30px;
}

.bg-white {
  background-color: white;
}

H1 {
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
  margin: 20px 0 0px 15px;
  text-align: left;
  hover: none;
}

li {
  list-style: none;
  float: right;
  display: inline;
  color: white;
  padding: 0 10px 10px 10px;
  margin: 0 0 20px 5px;
}

p {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}

img {
  height: fill-screen;
  width: 100%;
  border-radius: 3%;
}

img.kat {
  border-radius: 1%;
  margin: auto;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: white;
}

#index {
  color: white;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
}

h4 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.kat {
  color: black;
  text-align: center;
  font-family: helvetica;
}

span {
  font-size: 25px;
}
